extends layout
block extraHeader
  link(rel="stylesheet", href="/stylesheets/doodle.css")

block content
  h1= title
  p Let's doodle on canvas! You can draw something, snap it temporaly, and download it as PNG files.
  canvas#mycanvas(width=500 height=500)
  button#snap Snap
  button#clear Clear
  h2 Doodle Snaps
  div#doodles
  script(src="/javascripts/doodle.js")