extends layout

block content
  h1= title
  p Welcome to #{title}
  p View source code of this app on 
    a(href="https://github.com/IMELab/SampleApplication") Github.
  ul
    li
      a(href="/uploader") Multipart Uploader
    li
      a(href="/doodle") Doodle on Canvas 
